// CSS for the CaseStudyHome component in components/CaseStudyHome.tsx.

@import "scss/variables";

.trustC {
    .rowCase{
        border-radius: 8px;
        overflow: hidden;
        .bg_trustC {
            padding: 53px 50px;
            @media(max-width: $breakpoint-small_extra){
                padding: 40px 30px;
            }
            .int_title {
                color: $color-secondary;
                font-size: 36px;
                line-height: 1.3;
                max-width: 100%;
                margin-top: 35px;
                @media(max-width: $breakpoint-semi_medium){
                  font-size: 32px;
                }
                @media(max-width: $breakpoint-semi_medium){
                  font-size: 26px;
                }
            }
            .int_txt {
                width: 75%;
                max-width: 100%;
                margin-top: 17px;
                line-height: 1.7;
                @media(max-width: $breakpoint-semi_medium){
                  width: 100%;
                }
            }
            a {
                margin-top: 47px;
            }
            .trust_quote {
                font-weight: 600;
                font-size: 24px;
                line-height: 1.6;
                margin-top: 65px;
                @media(max-width: $breakpoint-semi_medium){
                    margin-top: 0px;
                }
                @media(max-width: $breakpoint-semi_medium){
                  font-size: 20px;
                }
            }
            .caseWrapper{
                margin-top: 47px;
            }
            .photoCaseStudyHome {
                width: 90px;
                img {
                    width: 85%;
                    height: auto;
                }
            }
            .trust_cName {
                font-family: $Gordita;
                color: $color-black;
                font-weight: 500;
                font-size: 20px;
            }
            .trust_cPosition {
                font-family: $Gordita;
                margin-top: 10px;
            }
            .trust_cLogo {
                img {
                    max-width: 43.5%;
                    margin-top: 20px;
                }
            }
        }
    }
}