// CSS for the CosuntingNumbers component in components/CountingNumbers.tsx.

@import "scss/variables";

.countingNumbers_home {
    background-color: #17171A;
    color: #E8E8E8;
}

.countingNumbers_home h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: -0.01em;
    text-align: left;
    max-width: 100%;
    color: #FFFFFF;
    margin-bottom: 35px;
    @media(max-width: $breakpoint-semi_medium){
      font-size: 30px;
    }
    @media(max-width: $breakpoint-small_extra){
        font-size: 26px;
    }
}

.numbers {
    font-family: $f37ginger;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.5;
    letter-spacing: -1%;
    @media(max-width: $breakpoint-semi_medium){
      font-size: 32px;
    }
    @media(max-width: $breakpoint-small_extra){
        font-size: 30px;
    }
}

.labels {
    font-family: $Gordita;
    color: #E8E8E8;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    width: 62%;
    max-width: 100%;
    padding-bottom: 20px;
    @media(max-width: $breakpoint-semi_medium){
      font-size: 16px;
      width: 100%;
    }
    @media(max-width: $breakpoint-small_extra){
        font-size: 14px;
    }
}

.counting_numbers a {
    height: 60px;
    font-size: 19px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
  

