// CSS for the CTA component in components/CTA.tsx.

@import "scss/variables";

.container {
  &:not(.isSecondC){
    p{
      width: $content-width-extended_lg;
      margin-left: auto;
      margin-right: auto;
      &.small{
        width: 720px;
      }
    }
  }
  h2 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    max-width: 100%;
    margin: 16px 0;
  }
  p {
    font-family: $Gordita;
    font-weight: 400;
    font-size: 21px;
    max-width: 100%;
    margin: 0;
    line-height: 30px;
  }
  .btn_centered a {
    margin-right: auto;
    margin-left: auto;
  }
  .buttons_wrap{
    margin-top: 50px;
  }
  .ctaText {
    width: 400px;
    max-width: 100%;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-decoration: underline;
    pointer-events: none;
  }
  .sectRounded{
    border-radius: 8px;
  }
}

.home_cta_3 {
  .wrap {
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 0;
  }
}