// CSS for the CTA component in components/CTA.tsx.

@import "scss/variables";

.container {
  &:not(.isSecondC){
    .text{
      &.reduced{
        width: $content-width-extended_lg;
      }
      &.centerDiv{
        margin-left: auto;
        margin-right: auto;
      }
      @media(max-width: $breakpoint-semi_medium){
        width: 100%;
      }
      &.small{
        width: 720px;
        @media(max-width: $breakpoint-semi_medium){
          width: 100%;
        }
      }
    }
  }
  p{
    margin-bottom: 0;
  }
  h2 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4;
    max-width: 100%;
    margin: 16px 0;
    @media(max-width: $breakpoint-semi_medium){
      font-size: 32px;
    }
    @media(max-width: $breakpoint-small_extra){
        font-size: 26px;
    }
  }
  .text {
    font-family: $Gordita;
    font-weight: 400;
    font-size: 21px;
    max-width: 100%;
    margin: 0;
    line-height: 1.42;
    @media(max-width: $breakpoint-semi_medium){
      font-size: 20px;
    }
  }
  .btn_centered a {
    margin-right: auto;
    margin-left: auto;
  }
  .buttons_wrap{
    padding-top: 40px;
    @media(max-width: $breakpoint-semi_medium){
      padding-top: 25px;
    }
  }
  .ctaText {
    width: 400px;
    max-width: 100%;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-decoration: underline;
    pointer-events: none;
  }
  .sectRounded{
    border-radius: 8px;
  }
}

.home_cta_3 {
  .wrap {
    @media(max-width: $breakpoint-semi_medium){
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}