// CSS for the DataDriven component in components/DataDriven.tsx.

@import "scss/variables";

.container {
    padding: 9.7% 0 0;
    background: #17171A no-repeat;
    background-position: 100% 115%;
}

.wrap {
	display: flex;
    flex-direction: column;
    .description{
        width: $content-width-small;
        p{
            color: white;
            b{
                font-weight: 600;
            }
            span{
                padding: 4px;
            }
        }
    }
    h2 {
        font-weight: 700;
        font-size: 36px;
        color: #FFF;
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 28px;
        text-align: left;
    }
}

.container p {
    font-family: $font-family;
    font-size: 24px;
}

.container img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    cursor: pointer;
}