// CSS for the Footer component in components/Footer.tsx.

@import "scss/variables";

.mainW{
	padding-top: 100px;
	background-color: $color-semi-white;
}

.phraseFooter{
    margin: 30px 0;
    font-size: 21px;
    line-height: 33px;
    font-family: $Gordita;
    width: 67%;
}

.buttonFooter{
	padding: 13px 30px;
}

.rated{
	margin: 40px 0 32px;
    flex-wrap: wrap;
	.ratedText{
		margin-left: 20px;
		.ratedH{
			font-family: $f37ginger;
			font-weight: 400;
			font-size: 18px;
			max-width: 100%;
			line-height: 23px;
			margin-bottom: 0;
			color: $color-navy-blue;
		}
		.ratedT{
			font-family: $Gordita;
			font-weight: 400;
			font-size: 16px;
			margin-bottom: 0;
			color: $color-light-gray;
		}
	}
}

.wrapBottom{
	border-top: 1px solid darken($color-semi-white, 10);
}