@import "scss/variables";

.title{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0;
    text-align: center;
    color: #151433;
    width: 615px;
    max-width: 100%;
    margin: 0 auto;

    @media(max-width:576px){
        font-size: 21px;
    }
}

.wrap_image {
    margin-top: 65px;
}

.wrap_image img {
    max-height: 90px !important;
    padding: 10px !important;
}