// // // CSS for the HeroHome component in components/HeroHome.tsx.

@import "scss/variables";

.hero{
	height: auto;
	background-color: $color-semi-white;
	position: relative;
	padding-bottom: 45px;
	z-index: 1;
    .wrap {
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        h1 {
            color: $color-black;
            font-weight: 800;
            font-size: 72px;
            line-height: 1.16;
            margin: 0 auto;
            max-width: 100%;
            padding-top: 233px;
            @media(max-width: $breakpoint-semi_medium){
                font-size: 65px;
                padding-top: 150px;
            }
            @media(max-width: $breakpoint-small_extra){
                font-size: 38px;
            }
        }
        p {
            margin: 30px auto 45px;
            font-size: 22px;
            line-height: 1.55;
            width: 56%;
            max-width: 100%;
            @media(max-width: $breakpoint-semi_medium){
                width: 100%;
            }
            @media(max-width: $breakpoint-small_extra){
                font-size: 20px;
            }
        }
        form {
            input {
                border: 1px solid $color-semi-gray;
                color: $color-semi-gray;
                background: $color-white;
                border-radius: 6px;
                min-width: 500px;
                max-width: 70%;
                padding: 18px 20px;
                font-size: 18px;
                line-height: 1.22;
                @media(max-width: $breakpoint-semi_medium){
                    min-width: 50%;
                }
                @media(max-width: $breakpoint-small_extra){
                    min-width:80%;
                }
            }
            button {
                font-size: 16px;
                margin-left: 15px;
                max-width: 100%;
                background: $color-lg-pink;
                border-radius: 6px; 
                color: $color-white;
                font-weight: 600;
                position: relative;
                padding: 17.5px 80px 17.5px 50px;
                @media(max-width: $breakpoint-small_extra){
                    min-width: 80%;
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }
}

.row {
    padding-top: 45px;
}

.awardsContainer {
    width: 167px;
    max-width: 100%;
}

.awardsTitle {
    font-family: $font-family;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: -.01em;
    text-align: left;
    color: #151433;
    max-width: 100%;
    padding-right: 150px;
}

.awardImg {
    width: 100%;
    height: 30px;
    object-fit: contain;
    object-position: left;
}


.awardText {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 12px;
    letter-spacing: 0;
    text-align: left;
    color: #5B5B5B;
}

.counter_accounts {
	font-weight: 900;
	color:$color-lg-pink;
}

.pink {
	color: $color-lg-pink;
}

.grey {
	color: $color-gray;
}

.accountCounter {
	margin-top: 20px;
}

.accountCounter img {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 16px;
	margin-top: -10px;
}


.pulse_animation span img {
    width: 15px;
    filter: grayscale(100%) contrast(20) invert(100%);
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
}