// // // CSS for the Hero component in components/Hero.tsx.

@import "scss/variables";

.wrap {
	margin: 0 auto;
	max-width: $content-width;
	overflow: auto;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}

.counter_accounts {
	font-weight: 900;
	color:$color-lg-pink;
}

.pink {
	color: $color-lg-pink;
}

.grey {
	color: $color-gray;
}

.accountCounter {
	margin-top: 20px;
}

.accountCounter img {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 16px;
	margin-top: -10px;
}


@media screen and (min-width: $content-width) {
	.wrap {
		padding: 0;
	}
}


.pulse_animation {
    box-shadow: 0 0 0 0 rgba(255, 70, 134, 0.5);
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
	border-radius: 0;
}
.pulse_animation:hover {
    animation: none;
    -webkit-animation: none;
}

@keyframes pulse {
    0% {
        /* -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9); */
    }
    70% {
        /* -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); */
        box-shadow: 0 0 0 35px rgba(255, 70, 134, 0);
    }
    100% {
        /* -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9); */
        box-shadow: 0 0 0 0 rgba(255, 70, 134, 0);
    }
}
@-webkit-keyframes pulse {
    0% {
        /* -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9); */
    }
    70% {
        /* -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); */
        box-shadow: 0 0 0 35px rgba(255, 70, 134, 0);
    }
    100% {
        /* -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9); */
        box-shadow: 0 0 0 0 rgba(255, 70, 134, 0);
    }
}

