// CSS for the Hero component in components/Hero.tsx.

@import "scss/variables";

.hero {
	background-color: #17161B;
	background-position: 48% 72%;
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-white;
	position: relative;
	padding: 6em 0 0 0;
	@media(max-width: $breakpoint-semi_medium){
		padding: 4em 0 1em 0;
	}
	.wrap{
		padding: 6em 0 3em;
		@media(max-width: $breakpoint-semi_medium){
			padding: 2em 0;
		}
		.titleTop{
			font-size: 42px;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 20px;
			@media(max-width: $breakpoint-semi_medium){
				font-size: 32px;
			}
		}
		.descriptionTop{
			font-size: 16px;
			font-weight: 400;
			line-height: 1.6;
			opacity: 0.7;
			margin-bottom: 30px;
		}
	}
}