// CSS for the LearnHome component in components/LearnHome.tsx.

@import "scss/variables";

.title {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 24px;
    color: $color-white;
    font-size: 36px;
    @media(max-width: $breakpoint-semi_medium){
      font-size: 32px;
    }
    @media(max-width: $breakpoint-small_extra){
        font-size: 26px;
    }
}

.text {
    width: $content-width-small;
    max-width: 100%;
    font-family: $Gordita;
    color: $color-white;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6;
    @media(max-width: $breakpoint-semi_medium){
        width: 100%;
    }
}

.links {
    margin-top: 35px;
    position: relative;
    z-index: 2;
    ul {
        width: $content-width-small;
        max-width: 100%;
        margin: 0 auto;
        @media(max-width: $breakpoint-semi_medium){
            width: 100%;
        }
        li a {
            font-size: 16px;
            color: $color-white;
            text-decoration: underline;
        }
    }
}

.buttonWrap {
    margin-top: 55px;
    @media(max-width: $breakpoint-small_extra){
        margin-top: 35px;
    }
    a{
        margin: 0 auto;
    }
}

.carrusel{
    margin-top: 65px;
    @media(max-width: $breakpoint-semi_medium){
        margin-top: 25px;
    }
    .custom {
        :global {
            .Video_Title,
            .Link_Title {
                color: $color-white;
            }
            .Video_ReadTime,
            .ReadTime{
                color: $color-white;
                text-decoration: underline;
            }
        }
    }
}