// // // CSS for the Modal component in components/Modal.tsx.

@import "scss/variables";


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
  
    .modal {
      padding: 1rem;
      border-radius: 0.5rem;
  
      .closeButton {
        position: absolute;
        top: 7.5rem;
        right: 20rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        color: white;
        cursor: pointer;
      }
    }
  }
  