@import "scss/variables";

.paths {
    .paths_title {
        color: $color-secondary;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 60px;
        @media(max-width: $breakpoint-semi_medium){
            font-size: 32px;
            margin-bottom: 40px;
        }
        @media(max-width: $breakpoint-small_extra){
            font-size: 26px;
            margin-bottom: 20px;
        }
    }
}

.img_wrapper {
    .pathimg {
        width: 86%;
        max-width: 100%;
        height: auto;
        min-height: 680px;
        max-height: 100%;
        border-radius: 8px;
        padding: 215px 60px 0 50px;
        position: relative;
        background-size: cover;
        @media(max-width: $breakpoint-semi_medium){
          width: 100%;
          padding: 30px 45px;
        }
        @media(max-width: $breakpoint-small_extra){
            padding: 40px 25px;
        }
        .path_sub1 {
            position: absolute;
            top: 50px;
            left: 50px;
            @media(max-width: $breakpoint-semi_medium){
                position: relative;
                top: 0px;
                left: 0px;
            }
        }
        .path_ttl {
            position: relative;
            font-weight: 600;
            font-size: 36px;
            line-height: 1.4;
            color: $color-white;
            @media(max-width: $breakpoint-semi_medium){
                font-size: 32px;
                margin-top: 25px;
            }
            @media(max-width: $breakpoint-small_extra){
                font-size: 26px;
            }
        }
        .path_txt {
            position: relative;
            font-family: $Gordita;
            color: $color-white;
            margin-top: 20px;
        }
        .path_btn {
            position: relative;
            margin-top: 30px;
            a {
                padding: 14px 30px;
            }
        }
    }
    div:nth-child(2) {
        .pathimg {
            margin-left: auto;
            .path_ttl {
                width: 499px;
                @media(max-width: $breakpoint-semi_medium){
                  width: 100%;
                }
            }
        }
    }
}