// CSS for the Posts component in components/Posts.tsx.

@import "scss/variables";


.single{
	.bottomWrap{
		.title{
			font-family: $f37ginger;
			font-size: 21px;
			line-height: 1.2;
			font-weight: 600;
			min-height: 2.8em;
			margin-bottom: 0;
		}
		.excerpt{
			font-family: $Gordita;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			p{
				margin-bottom: 0;
			}
		}
		.url{
			color: $color-hg3;
			font-family: $Gordita;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.6;
		}
	}
}