// CSS for the ServicesHome component in components/ServicesHome.tsx.

@import "scss/variables";

.wrap {
    margin: 0 auto;
	max-width: $content-width-large;
	overflow: auto;
    &.firstRow{
        padding-bottom: 3.2rem;
    }
    &.middleRow{
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }
    &.lastRow{
        padding-top: 3.2rem;
    }
    .subtitle {
        font-family: $f37ginger;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5.7%;
    }
    .title {
        width: 86%;
        max-width: 100%;
        font-family: $font-family;
        color: #151433;
        font-weight: 600;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .text {
        font-family: $Gordita;
        font-size: 19px;
        line-height: 30px;
        color: #2C3243;
        max-width: 100%;
    }
    .links {
        margin-top: 30px;
        li:nth-child(n+3) {
            margin-top: 17px;
        }
        a {
            font-family: $Gordita;
            font-weight: 500;
            font-size: 17px;
            text-decoration: underline;
        }
    }
}