// CSS for the index.tsx template.

@import "scss/variables";

#home_hero {
	height: auto;
	min-height: 850px;
	background-color: #F5F5F5;
	position: relative;
	padding-bottom: 45px;
	z-index: 1;
}


#home_hero h1 {
	font-family: 'PlusJakarta';
	color: #000;
	font-weight: 800;
	font-size: 72px;
	line-height: 84px;
	margin: 0 auto;
	text-align: center;
	width: 1311px;
	max-width: 100%;
	padding-top: 233px;
}
#home_hero p {
	place-self: center;
	margin: 30px auto 45px;
	font-family: 'PlusJakarta';
	font-size: 22px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	color: #353535;
	width: 745px;
	max-width: 100%;
}

#home_hero form {
	position: relative;
}

#home_hero form input {
	width: 435px;
	height: 60px;
	border: 1px solid #B0B0B0;
	color: #4B4B4B;
	background: #FFF;
	border-radius: 6px;
	padding: 0 115px 0 20px;
	font-size: 18px;
	line-height: 22px;
	max-width: 100%;
}


#home_hero form button {
	background: #FF258E;
	border-radius: 6px;
	font-family: 'PlusJakarta';
	font-size: 16px;
	height: 60px;
	margin-left: 15px;
	width: 275px;
	max-width: 100%;
}

#home_hero form button a {
	width: 260px;
	max-width: 100%;
	height: 25px;
	color: #FFF;
	font-weight: 600;
	display: inherit;
	position: relative;
	margin-right: 10px;
}

#home_hero .content .button-secondary {
	background-color: $color-secondary;
}

@media screen and (min-width: $breakpoint-medium) {
	.features {
		column-gap: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		strong {
			font-weight: bold;
		}
	}

	#post_list :global(.posts) {
		display: grid;
		column-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
