// CSS for the index.tsx template.

@import "scss/variables";

.explore {
	margin: 5em 0 5em;
}

#post_list {
	padding: 5em 0 6em;
	background-color: $color-semi-white;
}

#home_hero div {
	text-align: center;
	display: flex;
    flex-direction: column;
}
#home_hero div:first-of-type{
	width:738px;
	max-width:100%;
}
#home_hero h1 {
	font-size:42px;
	margin:0;
	max-width:100%;
}
#home_hero p {
	place-self: center;
	max-width:592px;
}

#home_hero span {
	place-self: center;
	max-width:403px;
	margin: 10px 0 0 0;
}

#home_hero{
    padding-right: 25%;
    padding-top: 22%;
}
#home_hero .content .button-secondary {
	background-color: $color-secondary;
}

@media screen and (min-width: $breakpoint-medium) {
	.features {
		column-gap: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		strong {
			font-weight: bold;
		}
	}

	#post_list :global(.posts) {
		display: grid;
		column-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
