$color-primary: #352839;
$color-black: #080808;
$color-white: #F8F6F2;
$color-dark-gray: #1f1f1f;
$color-light-gray: #F8F6F2;
$color-mid-gray: #606060;
$color-secondary:#5D4464;
$color-thistle:#C4B4C7;
$color-cadet:#649A9D;
$color-accent-blue:#38618C;
$color-accent-cyan:#81D2C7;
$color-accent-green:#1B9AAA;

$font-family: 'PlusJakarta', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width-small: 750px;
$content-width: 1200px;
$content-width-extended: 1360px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;

/*DEFINED LG COLORS FOR GLOBAL USES*/
$color-lg: #FF4686;

$color-hg1: #8860D4;
$color-hg2: #5DA4AF;

@font-face {
    font-family: 'PlusJakarta';
    src: url('../assets/PlusJakartaSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PlusJakarta';
    src: url('../assets/PlusJakartaSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'PlusJakarta';
    src: url('../assets/PlusJakartaSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PlusJakarta';
    src: url('../assets/PlusJakartaSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}