// CSS for use on every page. Added with normalize.css in pages/_app.tsx.

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
@import "typography";

body {
    font-family: $font-family;
    color: $color-black;
    font-size: 18px;
    line-height: 1.6;
}

.wrap {
    margin: 0 auto;
    max-width: $content-width;
    overflow: auto;
    padding: 0 10px;
}
.container{
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
    @media (min-width: $content-width-large){
        max-width: $content-width-large;
        &.p-0{
            padding: 0;
        }
    }
}
.content-index .wrap,
.content-page .wrap,
.content-single .wrap {
    padding: 55px 10px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    &:focus,
    &:hover {
        text-decoration: unset;
    }
}

.hg0,
a:focus,
a:hover {
    color: $color-lg-pink;
}
.color {
    &-white{
        color: $color-white;
    }
    &-yellow{
        color: $color-yellow;
    }
    &-semi_dark {
        color: $color-semi-dark;
    }
    &-purple {
        color: $color-purple-dark;
    }
    &-hg1{
        color: $color-hg1;
    }
    &-crystal, &-hg2{
        color: $color-hg2;
    }
    &-gold {
        color: $color-gold;
    }
    &-green {
        color: $color-green;
    }
    &-pink, &-hg0 {
        color: $color-lg-pink;
    }
    &-gray {
        color: $color-gray;
    }
    &-royal, &-hg4 {
        color: $color-hg4;
    }
    &-orange {
        color: $color-bronze;
    }
    &-navy, &-hg3 {
        color: $color-hg3;
    }
    &-light-blue{
        color: $color-light-blue;
    }
    &-red{
        color: $color-red;
    }
}
body .headerI{
    &-purple a{
        color: $color-purple-dark;
    }
    &-crystal a{
        color: $color-hg2;
    }
    &-gold a{
        color: $color-gold;
    }
    &-green a{
        color: $color-green;
    }
    &-pink a{
        color: $color-lg-pink;
    }
    &-gray a{
        color: $color-semi-gray;
    }
    &-royal a{
        color: $color-hg4;
    }
    &-orange a{
        color: $color-bronze;
    }
    &-navy a{
        color: $color-hg3;
    }
    &-light-blue a{
        color: $color-light-blue
    }
}
body .bg{
    &-yellow{
        background-color: $color-yellow;
    }
    &-semi_dark{
        background-color: $color-semi-dark;
    }
    &-semi_white{
        background-color: $color-semi-white;
    }
    &-black{
        background-color: $color-black;
    }
    &-black {
        background-color: $color-bronze;
    }
    &-silver {
        background-color: $color-silver;
    }
    &-diamond {
        background-color: $color-diamond;
    }
    &-hg1{
        background-color: $color-hg1;
    }
    &-purple{
        background-color: $color-purple-dark;
    }
    &-crystal, &-hg2{
        background-color: $color-hg2;
    }
    &-gold{
        background-color: $color-gold;
    }
    &-green{
        background-color: $color-green;
    }
    &-pink, &-hg0{
        background-color: $color-lg-pink;
    }
    &-gray{
        background-color: $color-semi-gray;
    }
    &-royal, &-hg4{
        background-color: $color-hg4;
    }
    &-orange{
        background-color: $color-bronze;
    }
    &-navy, &-hg3{
        background-color: $color-hg3;
    }
    &-light-blue{
        background-color: $color-light-blue;
    }
    &-red{
        background-color: $color-red;
    }
}

body .linear_bg{
    &-yellow{
        background: $color-yellow;
        background: linear-gradient(268.76deg, lighten($color-yellow, 22%) 23.54%, $color-yellow 61.46%);
    }
    &-semi_dark{
        background: $color-semi-dark;
        background: linear-gradient(268.76deg, lighten($color-semi-dark, 22%) 23.54%, $color-semi-dark 61.46%);
    }
    &-black{
        background: $color-black;
        background: linear-gradient(268.76deg, lighten($color-black, 22%) 23.54%, $color-black 61.46%);
    }
    &-black {
        background: $color-bronze;
        background: linear-gradient(268.76deg, lighten($color-bronze, 22%) 23.54%, $color-bronze 61.46%);
    }
    &-silver {
        background: $color-silver;
        background: linear-gradient(268.76deg, lighten($color-silver, 22%) 23.54%, $color-silver 61.46%);
    }
    &-diamond {
        background: $color-diamond;
        background: linear-gradient(268.76deg, lighten($color-diamond, 22%) 23.54%, $color-diamond 61.46%);
    }
    &-purple{
        background: $color-purple-dark;
        background: linear-gradient(268.76deg, lighten($color-purple-dark, 22%) 23.54%, $color-purple-dark 61.46%);
    }
    &-crystal{
        background: $color-hg2;
        background: linear-gradient(268.76deg, lighten($color-hg2, 22%) 23.54%, $color-hg2 61.46%);
    }
    &-gold{
        background: $color-gold;
        background: linear-gradient(268.76deg, lighten($color-gold, 22%) 23.54%, $color-gold 61.46%);
    }
    &-green{
        background: $color-green;
        background: linear-gradient(268.76deg, lighten($color-green, 22%) 23.54%, $color-green 61.46%);
    }
    &-pink{
        background: $color-lg-pink;
        background: linear-gradient(268.76deg, lighten($color-lg-pink, 22%) 23.54%, $color-lg-pink 61.46%);
    }
    &-gray{
        background: $color-semi-gray;
        background: linear-gradient(268.76deg, lighten($color-semi-gray, 22%) 23.54%, $color-semi-gray 61.46%);
    }
    &-royal{
        background: $color-hg4;
        background: linear-gradient(268.76deg, lighten($color-hg4, 22%) 23.54%, $color-hg4 61.46%);
    }
    &-orange{
        background: $color-bronze;
        background: linear-gradient(268.76deg, lighten($color-bronze, 2%) 23.54%, $color-bronze 61.46%);
    }
    &-navy{
        background: $color-hg3;
        background: linear-gradient(268.76deg, lighten($color-hg3, 2%) 23.54%, $color-hg3 61.46%);
    }
    &-light-blue{
        background: $color-light-blue;
        background: linear-gradient(268.76deg, lighten($color-light-blue, 2%) 23.54%, $color-light-blue 61.46%);
    }
    &-red{
        background-color: $color-red;
        background: linear-gradient(268.76deg, lighten($color-red, 2%) 23.54%, $color-red 61.46%);
    }
}


.wrap_content {
    width: $content-width;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    @media(max-width: $breakpoint-semi_medium) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media(max-width: $breakpoint-small) {
        width: $content-width_sm;
    }
}
.wrap_content-small {
    width: $content-width-small;
}
.wrap_content-extended {
    width: $content-width-extended;
    @media(max-width: $breakpoint-medium) {
        width: $content-width-extended_md;
    }
}

@media screen and (min-width: $content-width) {
    .wrap {
        padding: 0;
    }

    .content-index .wrap,
    .content-page .wrap,
    .content-single .wrap {
        padding-left: 0;
        padding-right: 0;
    }
}

a.button {
    display: block;
    background: $color-lg-pink;
    font-size: 16px;
    font-family: $Gordita;
    font-weight: 400;
    line-height: 20px;
    color: $color-white;
    width: fit-content;
    max-width: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    border: 1px solid $color-lg-pink;
    padding: 11px 13px;
    transition: 0.3s ease-out all;
    &:focus,
    &:hover {
        background-color: darken($color-lg-pink, 10);
        color: $color-white;
    }
    &.icon {
        display: flex;
        align-items: center;
        .ico {
            margin-left: 12px;
            svg {
                width: 15px;
                height: 15px;
                * {
                    fill: $color-white;
                }
            }
        }
    }

    &.transparent_effect{
        &:hover, &:focus{
            background-color: transparent;
            border-color: $color-lg-pink;
            color: $color-lg-pink;
            svg *{
                fill: $color-lg-pink;
            }
        }
    }

    &.button-secondary {
        background-color: $color-hg1;
        border-color: $color-hg1;
        &:focus,
        &:hover {
            background-color: darken($color-hg1, 10);
        }
    }

    &.button-third {
        background-color: $color-hg3;
        border-color: $color-hg3;
        &:focus,
        &:hover {
            color: $color-hg3;
            background-color: $color-transparent;
            svg * {
                fill: $color-hg3;
            }
        }
    }

    &.button-fourth {
        background-color: $color-bronze;
        border-color: $color-bronze;
        color: $color-black;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: $color-black;
            border-color: $color-black;
            svg * {
                fill: $color-white;
            }
        }
    }

    &.button-fifth {
        background-color: $color-silver;
        border-color: $color-silver;
        color: $color-black;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: $color-black;
            border-color: $color-black;
            svg * {
                fill: $color-white;
            }
        }
    }

    &.button-sixth {
        background-color: $color-diamond;
        border-color: $color-diamond;
        color: $color-black;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: $color-black;
            border-color: $color-black;
            svg * {
                fill: $color-white;
            }
        }
    }

    &.button-seventh {
        background-color: $color-yellow;
        border-color: $color-yellow;
        color: $color-black;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: $color-black;
            border-color: $color-black;
            svg * {
                fill: $color-white;
            }
        }
    }

    &.button-eigth {
        background-color: $color-hg4;
        border-color: $color-hg4;
        color: $color-white;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: darken($color-hg4, 10);
            border-color: darken($color-hg4, 10);
            svg * {
                fill: $color-white;
            }
        }
    }

    &.button-black {
        background-color: $color-black;
        border-color: $color-black;
        color: $color-white;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: $color-lg-pink;
            border-color: $color-lg-pink;
            svg * {
                fill: $color-white;
            }
        }
    }

    &.button-dark {
        background-color: $color-semi-dark;
        border-color: $color-semi-dark;
        color: $color-white;
        &:focus,
        &:hover {
            color: $color-semi-dark;
            background-color: $color-transparent;
            border-color: $color-semi-dark;
            svg * {
                fill: $color-semi-dark;
            }
            img{
                filter: invert(1);
            }
        }
    }

    &.button-white {
        background-color: $color-white;
        border-color: $color-light-gray;
        color: $color-black;
        &:focus,
        &:hover {
            color: $color-primary;
            background-color: $color-light-gray;
            border-color: $color-light-gray;
            svg * {
                fill: $color-primary;
            }
        }
    }

    &.button-red{
        background-color: $color-red;
        border-color: $color-red;
        color: $color-white;
        &:focus,
        &:hover {
            color: $color-red;
            background-color: $color-transparent;
            border-color: $color-transparent;
            svg * {
                fill: $color-red;
            }
        }
    }

    &.button-link{
        color: $color-lg-pink;
        background-color: $color-transparent;
        border: $color-transparent;

        &.button-dark{
            color: $color-semi-dark;
        }

        &:hover, &:focus{
            color: darken($color-lg-pink, 10);
            background-color: $color-transparent;
            border: $color-transparent;
        }
    }

    &.small{
        font-size: 16px;
        padding: 5px 10px;
    }
    &.medium {
        font-size: 17px;
        padding: 11px 30px;
    }
    &.big {
        font-size: 18px;
        padding: 16px 50px;
    }
}

.checkList {
    position: relative;
    margin-left: 18px;
    font-size: 18px;
    line-height: 1.4;
    li {
        &::before {
            content: "✓";
            color: $color-primary;
            position: absolute;
            left: -18px;
            font-size: 14px;
        }
    }
    &.bronzeBefore li::before {
        color: $color-bronze;
    }
    &.purpleBefore li::before {
        color: $color-hg1;
    }
    &.greenBefore li::before {
        color: $color-hg2;
    }
    &.pinkBefore li::before {
        color: $color-hg3;
    }
}

.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination.has-next.has-previous ul {
    column-count: 2;
}

.pagination-next {
    text-align: right;
}

.services .sub span {
    font-family: $f37ginger;
    font-size: 17px;
    display: inline-block;
}

.services,
.tag{
    font-family: $Gordita;
    font-size: 16px;
    line-height: 1;
    padding: 12px 22px;
    border-radius: 4px;
    width: fit-content;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;
    &.tag_semi-white{
        color: $color-semi-gray;
        background-color: rgba($color-semi-gray, 8%);
        span {
            color: rgba($color-semi-gray, 0.5);
        }
    }
    &_1 .sub {
        color: $color-hg1;
        background-color: rgba($color-hg1, 15%);
        span {
            color: rgba($color-hg1, 0.5);
        }
    }
    &_2 .sub,
    &.tag_primary {
        color: $color-lg-pink;
        background-color: rgba($color-lg-pink, 15%);
        span {
            color: rgba($color-lg-pink, 0.5);
        }
    }
    &_3 .sub {
        color: $color-hg2;
        background-color: rgba($color-hg2, 12%);
        span {
            color: rgba($color-hg2, 0.5);
        }
    }
    &_4 .sub,
    &.tag_bronze {
        color: $color-bronze;
        background-color: rgba($color-gold, 15%);
        span {
            color: rgba($color-bronze, 0.5);
        }
    }
    &.tag_light-blue {
        color: $color-light-blue;
        background-color: rgba($color-light-blue, 20%);
        span {
            color: rgba($color-light-blue, 0.5);
        }
    }
}

.topScrolled {
    box-shadow: 2px 0 6px 5px rgba(255, 255, 255, 0.51);
}

.active-highlighted .slick-slide:not(.slick-current){
    opacity: 0.5;
}

// Hubspot Form Home
.common_form_wrapper {
    position: relative;
    margin-top: 20px;
}

.common_form_wrapper fieldset[class*="form-columns-"]{
    margin-bottom: 0.8em;
}

.common_form_wrapper .hs-custom-style fieldset input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
    padding: 14px 16px;
    border-color: #e8ebed;
    min-height: 47px;
    background: #fbfcfd;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #bbb;
    font-family: $Gordita;
    font-weight: 400;
    font-size: 15px;
    color: $color-semi-dark;
}

.common_form_wrapper fieldset .hs-fieldtype-textarea {
    font-family: $Gordita;
    font-weight: 400;
    font-size: 15px;
    color: $color-semi-dark;
    border-radius: 5px;
    border: none;
    resize: none;
}

.common_form_wrapper #budget-radio,
.common_form_wrapper #select_btn {
    max-width: 98%;
    line-height: 48px;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding-left: 15px;
    font-family: $Gordita;
    font-weight: 400;
    font-size: 15px;
    color: $color-gray;
    padding-right: 28px;
    cursor: pointer;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.common_form_wrapper .hs-button.primary.large {
    max-width: 100%;
    border-radius: 6px;
    border: none;
    background-color: $color-hg2;
    font-family: $Gordita;
    font-weight: 400;
    font-size: 16px;
    color: $color-white;
    padding: 11px 50px;
}

.common_form_wrapper input::-webkit-input-placeholder,
.common_form_wrapper textarea::-webkit-input-placeholder,
.common_form_wrapper input:-ms-input-placeholder,
.common_form_wrapper textarea:-ms-input-placeholder,
.common_form_wrapper input::-ms-input-placeholder,
.common_form_wrapper textarea::-ms-input-placeholder,
.common_form_wrapper input::placeholder,
.common_form_wrapper textarea::placeholder  {
    font-family: $Gordita;
    font-weight: 400;
    font-size: 15px;
    color: $color-gray;
}
.common_form_wrapper input::-moz-placeholder,
.common_form_wrapper textarea::-moz-placeholder {
    font-family: $Gordita;
    font-weight: 400;
    font-size: 15px;
    color: $color-gray;
    opacity: 1;
}

.common_form_wrapper fieldset[class*="form-columns-"] {
    position: relative;
}

.common_form_wrapper .hs-fieldtype-radio,
.common_form_wrapper .hs-fieldtype-checkbox {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    background-color: $color-white;
    font-size: 15px;
    color: $color-primary;
    text-align: left;
    width: 98%;
    max-width: 98.3%;
    border-radius: 0 0 5px 5px;
}

.common_form_wrapper .hs-field-desc {
    display: none !important;
    visibility: hidden;
}

.common_form_wrapper .hs-form-radio-display {
    line-height: 48px;
}

.common_form_wrapper .hs-form-radio-display .checked {
    border: 5.4px solid #7F4EAD;
}

.common_form_wrapper .custom-radio {
    width: 16px;
    height: 16px;
    border: 1px solid #979797;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 17px;
    position: relative;
    top: 3px;
    display: inline-block;
}

.common_form_wrapper .active {
    display: inline-block;
    width: 100%;
    background-color: #F5F0FF;
}

.common_form_wrapper .custom-radio input {
    display: none;
}

.common_form_wrapper fieldset .budactive{
    color: $color-semi-dark !important;
}

.common_form_wrapper fieldset .selected {
    border-radius: 5px 5px 0 0 !important;
}

.common_form_wrapper .hs_services_that_interest_you .input label {
    padding: 12px 17px;
    display: inline-block;
}

.common_form_wrapper .hs-form-checkbox-display input {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    caret-color: $color-hg4;
    margin-right: 8px;
    display: inline-block;
}

.common_form_wrapper .hs-error-msgs{
    font-size: 12px;    
    color: $color-lg-pink;
}