// CSS for use on every page. Added with normalize.css in pages/_app.tsx.

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
@import "typography";

body {
	color: $color-black;
	font-size: 18px;
	line-height: 1.6;
}

.wrap {
	margin: 0 auto;
	max-width: $content-width;
	overflow: auto;
	padding: 0 10px;
}

.content-page .wrap,
.content-single .wrap,
.content-index .wrap {
	padding: 55px 10px;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

a{
	&:hover, &:focus{
		text-decoration: unset;
	}
}

a:hover, a:focus,
.hg0{
	color: $color-lg;
}
.hg1{
	color: $color-hg1;
}
.hg2{
	color: $color-hg2;
}
.color-yellow{
	color: $color-yellow;
}
.bg-yellow{
	background-color: $color-yellow;
}
.color-semi_dark{
	color: $color-semi-dark;
}
.bg-semi_dark{
	background-color: $color-semi-dark
}

.wrap_content{
	width: $content-width;
    max-width: 100%;
    margin: auto;
	overflow: hidden;
	@media(max-width: $breakpoint-semi_medium){
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@media(max-width: $breakpoint-small){
		width: $content-width_sm;
	}
}
.wrap_content-small{
	width: $content-width-small;
}
.wrap_content-extended{
    width: $content-width-extended;
	@media(max-width: $breakpoint-medium){
		width: $content-width-extended_md;
	}
}

@media screen and (min-width: $content-width) {
	.wrap {
		padding: 0;
	}

	.content-page .wrap,
	.content-single .wrap,
	.content-index .wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

.button {
	display: block;
	background: $color-lg;
    border-radius: 6px;
    font-size: 16px;
	font-family: $Gordita;
    font-weight: 400;
    line-height: 20px;
    color: $color-white;
    width: fit-content;
    max-width: 100%;
	text-align: center;
    letter-spacing: -0.02em;
    border: 1px solid $color-lg;
	padding: 11px 13px;
	transition: 0.2s ease-out all;
	&:focus,
	&:hover {
		background-color: darken($color-lg, 10);
	}
	&.icon{
		display: flex;
		align-items: center;
		.ico{
			margin-left: 12px;
			svg {
				width: 15px;
				height: 15px;
				*{
					fill: $color-white;
				}
			}
		}
	}

	&.button-secondary {
		background-color: $color-hg1;
		border-color: $color-hg1;
		&:focus,
		&:hover {
			background-color: darken($color-hg1, 10);
		}
	}
	&.button-third {
		background-color: $color-hg3;
		border-color: $color-hg3;
		&:focus,
		&:hover {
			color: $color-hg3;
			background-color: $color-transparent;
			svg *{
				fill: $color-hg3;
			}
		}
	}

	&.rounded{
		border-radius: 1000px;
	}
	&.medium{
		padding: 11px 30px;
	}
	&.big{
		padding: 16px 50px;
	}
}

.pagination ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination.has-next.has-previous ul {
	column-count: 2;
}

.pagination-next {
	text-align: right;
}
